<% if @user.errors %>
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      <% end %>
      
<div class="box">
<h2>Userinfo</h2>

<%= form_for(@user, url: user_path(current_user.id)) do |f| %>
    <h4>Name</h4>
    <%= f.text_field :name %>
    <h4>Image</h4>
  <%= f.file_field :profile_image %>
    <h4>introduction</h4>
      <%= f.text_area :introduction %>
    <%= f.submit 'Update User' %>
<% end %>

</div>

<footer>
  <div class="container mt-5"></div>
  <p class="footer-text">CopyRight Infratop.inc</p>
</footer>
